<section class="home py-5">
  <div class="container">
    <div class="row g-3">
      <div
        class="col-md-4"
        *ngFor="let user of userData | search : search_Id; let i = count"
      >
        <mat-card class="example-card h-100">
          <mat-card-header class="pb-3">
            <mat-card-title-group>
              <mat-card-title>{{ user.first_name }} </mat-card-title>
              <mat-card-subtitle>{{ user.last_name }}</mat-card-subtitle>
            </mat-card-title-group>
            <p class="mb-0">{{ user.id }}</p>
          </mat-card-header>
          <img
            class="h-100"
            mat-card-image
            [src]="user.avatar"
            [alt]="user.first_name"
          />
          <mat-card-actions>
            <button
              class="w-100 text-capitalize"
              mat-button
              mat-raised-button
              color="primary"
              [routerLink]="['/details', user.id]"
            >
              get details
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>

<mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  (page)="pageChanged($event)"
  aria-label="Select page"
>
</mat-paginator>
